# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
.eggs/
venv/
.venv/
.env

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
backend/*.db

# Backend env
backend/.env
